.tictactoe {
	width: 250px;
}

#notification {
	display: none;
}

#winnerMessage {
	font-weight: bold;
	padding: 12px 10px 5px 10px;
}

#gameBoard {
	margin-left: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
}

#restartButton {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.space {
	height: 50px;
	widows: 50px;
	font-size: 25px;
	padding-top: 7px;
}

.line-right {
	border-right: 2px solid #ccc;
}
.line-bottom {
	border-bottom: 2px solid #ccc;
}
h1 {
	text-align: center;
}



